:root{
    font-family: "Martian Mono", sans-serif;

}

body{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 4vw;
}

.header{
    color: white;

    grid-area: 1/1/2/4;

    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 3vw;
}

.board{
    background-color: white;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0.5vw;
    grid-area: 2/2;

    padding: 0.5vw;
    width: 500px;
    height: 500px;

    justify-self: center;
}

.field{
    color: white;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 5vw;
    height: 100%;
}